:root {
  --sl-font-size-medium: var(--sl-button-font-size-small);
  --sl-font-weight-normal: var(--sl-font-weight-semibold);
}

body {
  margin: 0
}

.toolbar {
  display: flex;
  padding: 2px;
  column-gap: 5px;
}

.style-container {
  padding: var(--sl-spacing-x-small);
  border: solid var(--sl-panel-border-width) var(--sl-panel-border-color);
  border-radius: var(--sl-border-radius-medium);
  color: var(--sl-color-neutral-700);
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
}

.style-container-item {
  display:flex;
  align-items: center;
  padding: var(--sl-spacing-2x-small) var(--sl-spacing-2x-small);
}

.menu {
  min-width: 110px;
}