:root {
  --sl-font-size-medium: var(--sl-button-font-size-small);
  --sl-font-weight-normal: var(--sl-font-weight-semibold);

  width: 100%;
  height: 100%;
  user-select: none; 
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: white;
  color: var(--sl-color-neutral-700);
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
}

.container {
  display: flex;
  width: 100%;
  min-width: 550px;
  height: 100%;
  flex-direction: column
}

.chart-container {
  overflow: hidden;
  height: calc(100% - 34px);
}

.toolbar {
  display: flex;
  padding: 2px;
  column-gap: 5px;
}

.menu {
  min-width: 110px;
}

.helper-elements {
  position:absolute;
  top: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

#templateDataDialogError, #chartErrorDialogMessage {
  margin-top: 20px;
  color: red;
}